*{
 padding: 0;
 margin: 0;
 color:black;
 
}
body {
  background-color: #FCFBFA;
}
ul{
 list-style-type: none;
}
.nistato a, .wrapper a {
  color: black;
}

img{
 max-width: 100%;
}


.navbar {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  width: 100%;
  top: 1px;
  border: 0.3px solid whitesmoke;
  position: sticky;
  background-color: white;
  z-index: 9000;


 
}

.nav-list{
 display: flex;
 align-items: center;
 padding: 10px;
}
.nav-list:ul {
  color: blueviolet;
}



 * {
 font-size:1em;
 text-decoration: none;

}
img {
 max-width: 100%;
}
header {
 top: 0;
 position: sticky;
 width: 100%;
}
.navbar {
 display: flex;
 align-items: center;
 width: 100%;
 margin: 0em auto;
 justify-content:space-around;
 
 
}
.navbar ul {
 display: flex;
 align-items: center;
 height:0.25em;
 padding-left: 0.25em;
 padding-right: 0.25em;
 width:fit-content;
 list-style-type: none;

 
}

.wrapper ul {
 display:flex;
 align-items: center;
 list-style-type: none;
 height:0.25em;
 padding-left: 0.25em;
 padding-right: 0.25em;
 width:fit-content;

}

.logo img {
 height: 50px;
 
}
.navbar li {
 padding: 0.25em;
}

.shoppster {
 padding: 0;
 margin: 0;
 list-style: none;
} 
.subscribe {
 border: 2px solid red;
 width: fit-content;
 background-color:red;
}
.subscribe:ul {
  color: white;
  height: 30px;
}
.subs {
  color: whitesmoke;
}
.inner {
  justify-content: center;
  align-items:center;
  display: flex;
  border-top: 0.2px solid whitesmoke;
  margin: 0.5 auto;
 
}
.container {
  height: 200px;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  
  display: flex;
  width: 60%;
}
.underbanner {
  
  
  width: 100%;
 
  top: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.underbanner img {
  width: 50%;
}
.row2 {
  display: flex;
  background-color: aliceblue;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  height: 100px;
  margin-right: 0.5em;
  margin-left: 0.5em;
  
}
.row2 img {
  align-content: center;
}
.row2 h4 {
  padding:1em;
  font-size: 10px;
}
.item {
  /* background-color: blue; 
  height:90px;
  width:130px;
  border: 0 2px auto;
  padding: 2px;
  */
  display: inline-flex;
  width: 268px;
  background-color: #fff;
  border-radius: 3px;
  vertical-align: middle;
  padding: 10px;
  box-shadow: 0 0 13px 0 rgb(34 62 153 / 10%);
  
}
.row2 img {
  border-radius: 10%;
  height: 75px;
}
.row2 h4 {
 position: relative;
 font-size:12px;
}

  

.motherload {
  position: relative; 
  padding: 50px;
  display: flex;
  justify-content: center;
  
}

.hero-image {
  background-image: url("kontejner/kontejner21.jpg");
  background-color: #cccccc;
  
  align-items: center;
  
  width:70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 600px;
}

.hero-text {
  
  position: absolute; 
  padding: 21em 0 0 1em;
  
  color: white;
  justify-content: left;
  text-shadow: 1em;
  font-size: 25px;
  
  
}
.header {
  
  font-size: 18px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
  top: -20px;
  display:contents;
}
.kontejner2 {
  width: 25%;
  
  
  
}
.kontejner2 .item {
  height: 20px;
}
.header {
  justify-content: flex-end;
  

}
.header h4 {
  color: white;
  justify-content: flex-end;
  display: flex;
}
.item1 {
  background-image: url("kontejner/kontejner31.jpg");
  background-repeat: no-repeat;
  background-color: #cccccc;
  background-size: cover;
  
  width: 100%;
  height:200px;
}


.item1-text {
  color: white;
  font-size: 18px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  align-items:baseline;
  justify-content: left;
  font-weight:1em;
  padding: 0.5em;
  padding-top: 7em;
}
.item2 {
  background-image: url("kontejner/kontejner32.jpg");
  background-repeat: no-repeat;
  background-color: #cccccc;
  background-size: cover;
  
  width: 100%;
  height:200px;
}
.item2-text {
  color: white;
  font-size: 18px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  align-items:baseline;
  justify-content: left;
  font-weight:1em;
  padding: 0.5em;
  padding-top: 8em;
}
.item2-text a {
  color: white;
  font-size: 18px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight:1em;
}
.item3 {
  background-image: url("kontejner/kontejner33.jpg");
  background-repeat: no-repeat;
  background-color: #cccccc;
  background-size: cover;
   
  width: 100%;
  height:200px;
}
.item3-text {
  color: white;
  font-size: 18px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  align-items: flex-end;
  justify-content: left;
  font-weight:1em;
  padding: 0.5em;
  padding-top:8.5em;

}
.item3-text a {
  color: white;
  font-size: 18px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight:1em;
}
.item1-text a {
  color: white;
  font-size: 18px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight:1em;
}
/* #myBtn { 
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: violet;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
#myBtn:hover {
  background-color: #555;
}
*/
.konitem1 {
  background-image: url("kontejner2/thats.jpg")
}
.konitem1 {
  background-image: url("kontejner2/tuff.jpg")
}

.konitem1 {
  background-image: url("kontejner2/on.jpg")
}

.konitem1 {
  background-image: url("kontejner2/gang.jpg")
}
card_container {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  border: solid 0.5px white;
  
  
}
.card_holder {
  border: 0.2px solid white;
  box-shadow:rgb(34 62 153 / 10%);
  margin: 1em;
  height: 310px;
  width: 250px; 
  background-color:rgb(34 62 153 / 10%);
  
  
}
.image_holder {
  width: 100%;
  height:200px;
  border-radius: 1%;
  
}
.tuff {
  
  font-size: 20px;
  padding: 0.25em;
  
}
.tuff:hover {
  color: blue;
}
.href2 {
  font-size: 12px;
  color: blue;
  margin: 0.25em;
  font-size: 12pt;
}

.infomain  {
  color: white;
  padding-left: 1.5em;
}
.infomain {
  
  align-items: center;
  font-size: 10pt;
  display: flex;
   padding-top: 42em; 
  
  

  
}
.href {
  margin-left: 1.5em;
}
.infomain1 :first-child  {
  color: white;
}
.infomain2 :first-child  {
  color: white;
}
.infomain3 :first-child  {
  color: white;
}
.infomain1 {
  font-size: 10px;
  display: flex;
}

.infomain2 {
  font-size: 10px;
  display: flex;
}

.infomain3 {
  font-size: 10px;
  display: flex;
}
.info {
  display: flex;
  align-items: center;
}
.readmore {
  font-size: 30pt;
  color: rgb(4,0,26);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 100px;
 
  text-decoration: underline #000080 solid;
}
.left {
  display: flex;
  align-items: center;
  }
.card_container3 {  
  width: 80%;
  padding: 1em;
 
}
.card_container3 {  
  width: 80%;
  padding: 1em;
  
  position: absolute;
  }

/* Sekcija sa dva diva u koloni */
.elections {
  height: 32em;
  background-color: #D6001C;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 1%;
}
.title {
  padding-top: 0.4em; 
  margin-left: 0.4em;
  color:#fafafa;
  font-size: 2.5em;
  border-bottom: 0.1em solid white;
}
.container_el {
  width: fit-content;
}
.img_container_el {
  /* background-image: url("izbori22/izbori.jpg"); */
  background-repeat: no-repeat;
  height: 30em;
  width: 50%;
  margin-left: 1.7em;
  margin-top: 0.4em;
  
}
.see_more {
  display: flex;
  color: #fafafa;
  
}
.container_el2 {
  display: flex;
}
